.subheading-cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheading-cont p {
  max-width: 868px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 165%;
  text-align: center;
  color: rgba(0, 0, 0, 0.64);
  margin: 36px 0px;
}
