.subheading-cont {
  width: 868px;
  text-align: center;
}

.subheading-cont p {
  position: static;
  width: 868px;
  height: 66px;
  left: 6px;
  top: 168px;

  /* Body Large */

  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 165%;
  /* or 33px */

  text-align: center;

  color: rgba(0, 0, 0, 0.64);

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 36px 0px;
}
