.navbar,
.navbar-links-cont,
.social-buttons-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  height: 72px;
  width: 100%;
  /* border-bottom: #f1edff solid 1px; */
}

.logo-cont {
  margin-left: 64px;
}

.logo-cont p {
  font-weight: 700;
  font-size: 14px;
}

.logo-one,
.logo-three {
  color: #613ee2;
}

.logo-two {
  color: #120055;
}

li {
  list-style: none;
}

.navbar-links-cont li {
  margin: 16px;
}

.social-buttons-cont li {
  margin: 20px;
}

.social-buttons-cont {
  margin-right: 47px;
}

.navbar-links-cont p {
  color: #120055;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}
