.creative-cont {
  width: 552px;
  height: 433px;
  margin: 28px;
}

.details-cont,
.creative-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.creative-cont img {
  object-fit: cover;
  height: 314px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.details-cont {
  margin-top: 16px;
}

.details-cont p {
  margin-bottom: 8px;
}

.cheading {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.25px;
  color: #000000;
}

.csubheading {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.clink {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #120055;
  margin-top: 16px;
}
