.footer-cont {
  background-color: #120055;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-heading > h1 {
  color: white;
}

.text-col {
  color: #dcd3fc;
}
.pink {
  color: #dcd3fc;
}

.contact-me {
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.25px;
  font-size: 24px;
  margin: 72px 0 16px 0;
}

.contact-boxes-cont {
  margin-top: 64px 0;
  flex-wrap: wrap;
}

.info {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.25px;
  color: #dcd3fc;
  margin-left: 8px;
}

.contact-boxes-cont,
.contact-box,
.find-cont {
  display: flex;
  align-items: center;
}
.findme {
  margin-top: 64px;
}

.find-cont {
  margin-top: 36px;
}

.scont {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 24px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.contact-box {
  padding: 26px 32px;
  margin-left: 0 24px;
}

.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #dcd3fc;
  margin: 64px 0px 24px 0;
}
